[submodule "libraries/yi-play-firmata"]
	path = libraries/yi-play-firmata
	url = https://github.com/ysoftiota/yi-play-firmata
[submodule "libraries/SPIFlash"]
	path = libraries/SPIFlash
	url = https://github.com/LowPowerLab/SPIFlash
[submodule "libraries/RFM69"]
	path = libraries/RFM69
	url = git@github.com:ysoftiota/RFM69.git
