[submodule "libraries/yi-play-firmata"]
	path = libraries/yi-play-firmata
	url = https://github.com/ysoftiota/yi-play-firmata
[submodule "libraries/RFM69"]
	path = libraries/RFM69
	url = https://github.com/LowPowerLab/RFM69
[submodule "libraries/SPIFlash"]
	path = libraries/SPIFlash
	url = https://github.com/LowPowerLab/SPIFlash
